<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/driver.css' %}"/>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Ola</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <form action="{% url 'driver'%}" method="post">{% csrf_token %}
              <input type="hidden" name="username" value = {{username.0}} >
            <span class="links_name"><button type="submit" >Dashboard</button></span>
            </form>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <form action="{% url 'showrequest' %}" method="post">{% csrf_token %}
              <input type="hidden" name="username" value = {{username.0}} >
            <span class="links_name"><button type="submit" >Bookings</button></span>
            </form>
          </a>
        </li>
        <li>
            <a href="#" class="active">
              <i class='bx bx-grid-alt' ></i>
              <form action="{% url 'previoustrips' %}" method="post">{% csrf_token %}
                <input type="hidden" name="username" value={{username.0}} >
              <span class="links_name"><button type="submit" >Trip details</button></span>
              </form>
            </a>
          </li>
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <form action="{% url 'Mangevehicles' %}" method="post">{% csrf_token %}
                <span class="links_name">
                  <input type="hidden" name="username" value = {{username.0}} >
                  <button type="submit">Manage Vehicles
                  </button>
                </span>
            </form>
          </a>
        </li>
        <li>

          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">
              <form action="{% url 'editdriver' %}" method="post">{% csrf_token %}
                <input type="hidden" name="username" value={{username.0}} >
              <button type="submit" >Edit Driver Details</button>
              </form></span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <form action="{% url 'logout'%}" method="post">{% csrf_token %}
              <span class="links_name">
                <button type="submit" >Log out
                </button>
              </span>
            </form>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">{{Name.0}}</span>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="rounded float-right">
      </div>
    </nav>

    <div class="home-content">
      <div class="sales-boxes">
        {% if status.0 != 'FALSE' %}
        <div class="top-sales box">
          <div class="title">Ride status</div>
          <ul class="top-sales-details">
            <li>
            <a href="#">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Pickup Location</span>
            </a>
            <span class="price">{{Pickup_Location.0}}</span>
          </li>
          <li>
            <a href="#">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Drop Location</span>
            </a>
            <span class="price">{{Drop_Location.0}}</span>
          </li>
          <li>
            <a href="#">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">Passenger Name</span>
            </a>
            <span class="price">{{RefName.0}}</span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/scarves.jpg" alt="">-->
              <span class="product">Contact number</span>
            </a>
            <span class="price">{{contactno.0}}</span>
          </li>
          <!-- <li>
            <a href="#"> -->
              <!--<img src="images/blueBag.jpg" alt="">-->
              <!-- <span class="product">Type</span>
            </a>
            <span class="price">Mini</span>
          </li> -->

          </ul>
        </div>
        {% else %}
        <div class="top-sales box">
          <div class="title">Ride status</div>
          <ul class="top-sales-details">
            <li>
            <a href="#">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">No Ride in Progress</span>
            </a>
          </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>

