
<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/driverdetails.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Ola</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <form action="{% url 'driver'%}" method="post">{% csrf_token %}
              <input type="hidden" name="username" value = {{username.0}} >
            <span class="links_name"><button type="submit" >Dashboard</button></span>
            </form>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <form action="{% url 'previoustrips' %}" method="post">{% csrf_token %}
              <input type="hidden" name="username" value={{username.0}} >
            <span class="links_name"><button type="submit" >Previous Trips</button></span>
            </form>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Edit Details</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">
              <form action="{% url 'logout'%}" method="post">{% csrf_token %}
                <button type="submit" >Log out</button>
              </form>
            </span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">{{Name.0}}</span>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="rounded float-right">
      </div>
    </nav>
    <div class="home-content">
        <div class="overview-boxes">
          <div class="box" >
            <form method="post" action="{% url 'savechanges' %}">{% csrf_token %}
              <input type="hidden" name="username" value={{username.0}} >
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name of driver ">
                </div>
                <li>
                </li>
                <div class="form-group">
                  <label for="exampleInputPassword1">License_Number</label>
                  <input type="text" name="license_no" class="form-control" id="exampleInputPassword1" placeholder="Enter new License_Number">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Date of birth (YYYY-MM-DD)</label>
                    <input type="text" name="dob" class="form-control" id="exampleInputPassword1" placeholder="Enter new date of birth">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Contact Number</label>
                    <input type="text" name="contact" class="form-control" id="exampleInputPassword1" placeholder="Enter contact- number">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Enter password: </label>
                    <input type="text" name="pwd" class="form-control" id="exampleInputPassword1" placeholder="Enter password to save changes">
                  </div>
                  
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </form>
          </div>
        </div>

    </div>
  </section>
  

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>


</body>
</html>

